.chapter_1 {
    background-color: rgb(184, 222, 215);
}

h1 {
    font-size: 60px;
    font-family: cursive;
    color: rgba(220, 20, 60, 0.721);
    background-color:rgb(143, 188, 180) ;
    display: flex;
    justify-content: center;
}

h2 {
    font-family: cursive;
    font-size: 48px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#caperucita {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    float: left;
    margin-right: 30px;
    margin-left: 30px;
}

.paragraph {
    font-family: cursive;
    font-size: 30px;
    margin: 100px 30px 30px 100px;
   
}

#caperucitaMama {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    margin-right: 30px;
    float: right;
}

.chapter_2 {
    background-color: rgba(221, 211, 75, 0.365);
}

#caperucitaBosque  {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    margin-left: 30px;
    margin-right: 30px;
    float: left;
}

#caperucitaLobo {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    margin-left: 30px;
    margin-right: 30px;
    float: right;
}

#loboPensando {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    margin-left: 30px;
    margin-right: 30px;
    float: left; 
}

.chapter_3 {
    background-color: rgba(142, 250, 214, 0.708);
    padding-bottom: 270px;
}

#loboAbuelita {
    width: 400px;
    height: 300px;
    border-radius: 10%;
    margin-left: 30px;
    margin-right: 30px;
    float: left; 
}

#loboAcostado {
    width: 400px;
    height: 300px;
    border-radius: 10%;
    margin-left: 30px;
    margin-right: 30px;
    float: right; 
}

.chapter_4 {
    background-color: rgba(244, 132, 154, 0.614);
    padding-bottom: 200px;
}

#caperucitaCasa {
    width: 400px;
    height: 300px;
    border-radius: 10%;
    margin-left: 30px;
    margin-right: 30px;
    float: right;    
}

#loboSaliendo {
    width: 400px;
    height: 300px;
    border-radius: 10%;
    margin-left: 30px;
    margin-right: 30px;
    float: left;    
}